{% extends "base.html" %}
{% block title %}{% endblock %}
{% block main %}
<!-- Héritage de template ? Block(s) ? -->
<section>
    <h2>The world of Jurassic Park</h2>
    {% for dino in dinos %}

    <a href="{{ url_for('dino', slug=dino.slug) }}">
        <figure>
            <img src={% print dino.avatar %} alt={% print dino.name %} />
            <figcaption>Discover The {% print dino.slug %}</figcaption>
        </figure>
    </a>

    {% endfor %}
</section>
{% endblock %}