{% extends "base.html" %}
{% block title %}{% endblock %}
{% block main %}
<div class="grid">
    <article>
        <h2>Discover The {% print dino_slug.name %}</h2>
        <div class="description">
            {% print dino_slug.description %}
        </div>
        <div class="card">
            <img src={% print dino_slug.avatar %} alt={% print dino_slug.slug %} />
            <dl>
                <dt>Name</dt>
                <dd>{% print dino_slug.name %}</dd>
                <dt>Name meaning</dt>
                <dd>{% print dino_slug.name_meaning %}</dd>
                <dt>Diet</dt>
                <dd>{% print dino_slug.diet %}</dd>
                <dt>Height</dt>
                <dd>{% print dino_slug.height %}</dd>
                <dt>Length</dt>
                <dd>{% print dino_slug.length %}</dd>
                <dt>Weight</dt>
                <dd>{% print dino_slug.weight %}</dd>
            </dl>
        </div>
    </article>
    <aside>
        <h3>Top rated dinosaurs</h3>
        <!-- On affiche les top rated des dino -->
        {% for dino in dino_random %}
        <a href="{{ url_for('dino', slug=dino.slug) }}">
            <figure>
                <img src={% print dino.avatar %} alt={% print dino.name %} />
                <figcaption>Discover {% print dino.slug %}</figcaption>
            </figure>
        </a>
        {% endfor %}
    </aside>
</div>
{% endblock %}