{% extends "base.html" %}
{% block title %}{% endblock %}
{% block main %}
<section>
        <article>
                <h2>Page Not found Erreur 404 </h2>
                <a href="{{ url_for('index') }}"><p>Click Here</a>To go to the Home Page</p> 
    </article>
 </section>
{% endblock %}